@media only screen and (max-width: 1400px) {

    .statistics-card {
        width: calc((100% - 30px)/3);
    }
}

@media only screen and (max-width: 992px) {

    .content {
        margin-top: 0;
        width: 100%;
        height: calc(100vh - 4rem);
        overflow: scroll;
    }

    .content::-webkit-scrollbar {
        display: none;
    }

    .sideMenu {
        right: -100%;
        width: 30%;
        height: calc(100% - 6.5rem);
        top: 6rem;
        border-radius: .4rem;
        z-index: 1000;
        margin-right: 2.5%;
    }

    .contentHeader {
        position: fixed;
        top: 10px;
    }

    .menu-btns {
        height: calc(100% - 5.2rem);
    }

    .contentHeader {
        margin-top: 10px;
    }

    .rightContentHeader {
        display: flex;
        align-items: center;
    }

    .menu {
        display: flex;
    }


    .userInfo svg {
        font-size: 1.8rem;
    }

    .userInformations svg {
        font-size: .8rem;
    }

    .c-notifications, .a-notifications {
        margin: 0 .5rem;
    }

    .settings {
        margin-left: .4rem;
    }

    .statistics-card {
        width: calc((100% - 20px)/2);
    }


    
    

    .homeContent h1 {
        font-size: 18px !important;
        letter-spacing: .1em;
        height: 20px;
    }

    @keyframes typing {
        from {
            width: 0
        }

        to {
            width: 80%
        }
    }

    .styled-table {
        width: 90%;
        padding: 20px;
    }

    .styled-table tbody td, .styled-table thead td {
        display: flex;
        column-gap: 10px;
    }






   

    .edge-menu-btn {
        display: none;
    }


    .switch-btn svg {
        font-size: 0.9rem;
    }

    .a-notification-window, .c-notification-window {
        width: 14rem;
        top: calc(100% + 1.2rem);
        max-height: 65vh;
        left: 8.7rem;
    }

    .c-notification-window {
        left: 4.4rem;
    }

    .user-window {
        width: 10.6rem;
        top: calc(100% + .8rem);
        right: 2.8rem;
    }



}


@media only screen and (max-width: 600px) {

    .statistics-card {
        width: 100%;
    }

    .sideMenu {
        
        width: 60%;
        
    }

    .userInfo {
        padding: 0;
        margin: .4rem;
    }
    .userInfo #user-avatar {
        display: none;
    }

    .box-container {
        padding: 0;
    }

    .c-notifications, .a-notifications {
        margin: 0 .2rem;
    }

    .a-notification-window, .c-notification-window {
        width: 12rem;
        left: 4rem;
    }

    .a-notification-window {
        left: 7.8rem;
    }

    .user-window {
        width: 10.6rem;
        top: calc(100% + .6rem);
        right: .6rem;
    }

    
}

@media only screen and (max-width: 500px) {

    .userInformations {
        width: 8.6rem;
        padding: .6rem 0;
    }

    .user-window {
        width: 8.6rem;
        top: calc(100% + .6rem);
        right: .6rem;
    }

    .user-window ul li span{
        font-size: .7rem;
    }

}

@media only screen and (max-width: 475px) {

    

    .userInformations h6 {
        font-size: .8rem;
    }

    .userInformations #status {
        font-size: .6rem;
    }

    .userInformations svg {
        display: block;
        font-size: .6rem;
    }

    .c-notifications, .a-notifications {
        padding: .4rem;
        margin: 0 .2rem;
    }
    .a-notification-window {
        left: 7.3rem;
    }

    .c-notifications svg, .a-notifications svg {
        
        font-size: 1.4rem;
    }

    .userInformations {
        width: 7rem;
    }

    .user-window {
        width: 7rem;
    }

    .settings {
        margin-left: .4rem;
    }

    .sideMenu {
        
        width: 60%;
        
    }

}

@media only screen and (max-width: 425px) {

    .userInfo {
        width: 6rem;
    }

    .user-window {
        width: 6rem;
    }

    .user-window ul li span{
        font-size: .5rem;
    }

    .userInformations h6{
        font-size: .5rem;
    }

    .c-notifications, .a-notifications {
        padding: .4rem;
        margin: 0 .1rem;
    }

    .c-notifications svg, .a-notifications svg {
        font-size: 1.2rem;
    }

    .a-notification-window, .c-notification-window {
        width: 12rem;
        left: 3.5rem;
    }

    .a-notification-window {
        left: 6.2rem;
    }

    .goLive {
        font-size: .7rem;
        padding: .4rem .6rem;
    }

}



@media only screen and (max-width: 360px) {

    .goLive {
        display: none;
    }

    .a-notification-window, .c-notification-window {
        width: 12rem;
        left: 0.1rem;
    }

    .a-notification-window {
        left: 2.9rem;
    }

}

@media only screen and (max-width: 310px) {

    .settings {
        display: none;
    }

    .a-notification-window, .c-notification-window {
        top: calc(100% + 1.5rem);
        width: 10rem;
    }

}