@import url('reset.css');
@import url('theme.css');
@import url('grid.css');
@import url('sizing.css');
@import url('classyShadowStyle.css');
@import url('fonts.css');

* {
    font-family: Yekan !important;
}

body {
    background-color: var(--main-background-color);
    direction: rtl;
    position: relative;
    line-height: 1.2rem !important;
}

#main {
    position: relative;
}

.button {
    border-radius: 5px;
}

.position-relative {
    position: relative;
}

/* side menu starts */

.sideMenu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20%;
    background-color: var(--sidebar-menu-background-color);
    transition: all .3s;
    overflow: hidden;
}

.logo {
    width: 100%;
    padding: 1rem 0;
    color: var(--theme-color);
}


.menu-btns {
    width: 100%;
    height: calc(100% - 3.2rem);
    overflow: scroll;
}

.menu-btns::-webkit-scrollbar {
    display: none;
}


.menu-btns h3 {
    font-size: 15px;
}

.menu-btns span {
    margin: .6rem 0;
}

.menu-btns a {
    width: calc(100% - .6rem);
    padding: .6rem 0;
    transition: all 0.3s;
    color: var(--text-color);
}

.menu-btns a:hover, .menu-btns .row-head:hover {
    color: var(--theme-color);
}

.menu-btns .row-head {
    padding: .6rem 0;
    transition: all .3s;
}



.menuSelected {
    border-right: .4rem solid var(--theme-color);
    transition: 0.5s;
    color: var(--theme-color) !important;
    outline:none;
}

.menuSelected span, .menuSelected .row-head {
    color: var(--theme-color) !important;
}

.menuSelected .fa-angle-left {
    transition: all .3s;
    transform: rotate(-90deg);
}

.sub-menu {
    height: 0;
    opacity: 0;
    pointer-events: none;
}

.sub-menu-active {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    opacity: 1;
    pointer-events: all;
}

.sub-menu-active a {
    width: 100%;
    font-size: .9rem;
    margin: 0.8rem 2rem 0 0;
    color: var(--text-color);
    transition: all .3s;
}

.sub-menu-active a:hover {
    color: var(--theme-color);
}


/* edge menu btn */

.edge-menu-btn {
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    background-color: var(--theme-color);
    padding: 1rem;
    position: fixed;
    bottom: 6rem;
    left: 80%;
    margin-left: -1rem;
    transition: all 0.3s;
    z-index: 1000;
}

.edge-menu-btn:hover {
    box-shadow: 0 1px 13px 0 var(--theme-color);
}

.edge-menu-btn svg {
    font-size: 1rem;
    color: var(--text-reverse);
}


.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
    padding: 0;
    margin: 5px 5px 0 0;
    width: 50px;
    height: 50px;
}

.line {
    fill: none;
    stroke: var(--text-color);
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}

.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}

.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}

.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}

.opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}




.switch-theme-btn {
    width: 50px;
    height: .5rem;
    border-radius: 35px;
    background-color: #adb5bd;
    display: flex;
    align-items: center;
}

.switch-btn {
    width: 25px;
    height: 25px;
    border-radius: 35px;
    background-color: #343a40;
    transition: all 0.3s;
    margin-right: 0;
}

.switch-btn svg {
    color: #fff;
    font-size: .8rem;
}

.switch-btn:hover {
    cursor: pointer;
}



/* side menu ends */

/* content starts */

.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: fit-content;
    padding-bottom: 1.4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    row-gap: 30px;
    transition: 0.3s;
}

.goLive {
    font-size: 15px;
    padding: .6rem 1rem;
    font-weight: bold;
    background-color: var(--theme-color);
    border-radius: 5px;
    transition: 0.5s;
    color: var(--text-reverse);
}

.goLive:hover {
    transition: 0.5s;
    box-shadow: 0 1px 13px 0 var(--theme-color);
}

.contentHeader {
    width: 95%;
    height: 70px;
    background-color: var(--box-background-color);
    box-shadow: 0 1px 13px 0 var(--boxShadowColor);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.contentHeaderBtns {
    padding: 0 10px;
    display: flex;
    height: 60%;
}

.settings {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-left: .8rem;
}

.settings a svg {
    color: var(--text-color);
}

.c-notifications, .a-notifications {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .6rem;
    padding: .6rem;
    transition: all .3s;
    position: relative;
}

.userInformations {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.4rem;
    margin-right: .6rem;
    padding: .6rem;
    transition: all .3s;
}

.c-notifications svg, .a-notifications svg {
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text-color);

}

.c-notifications .notif-alert, .a-notifications .a-notif-alert {
    background-color: #ff4d6d;
    color: #fff;
    position: absolute;
    top: calc(100% - 1.5rem);
    right: -.75rem;
    border-radius: 100%;
    width: 1.3rem;
    height: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    font-size: .8rem;
}

.userInfo {
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: relative;
}

.userInfo img {
    width: 50px;
    height: 50px;

}

.userInfo svg {
    font-size: 50px;
    color: var(--text-color);
}

.user-window, .a-notification-window, .c-notification-window {
    position: absolute;
    top: calc(100% + 1rem);
    width: 10vw;
    height: fit-content;
    background-color: var(--box-background-color);
    border-radius: .4rem;
    z-index: 1000;
    box-shadow: 0 1px 13px 0 var(--boxShadowColor);
    opacity: 0;
    pointer-events: none;
}

.user-window {
    top: calc(100% + 1.4rem);
    width: 11vw;
    right: 4rem;
}

.a-notification-window, .c-notification-window {
    width: 13vw;
    top: calc(100% + 1.8rem);
    left: 4.6rem;
    max-height: 80vh;
    overflow-y: scroll;
}

.a-notification-window {
    left: 8.6rem;
}

.a-notification-window::-webkit-scrollbar, .c-notification-window::-webkit-scrollbar {
    display: none;
}

.c-notification-window .text-success, .a-notification-window .text-success {
    font-size: .4rem;
    margin-right: auto;
}

.user-window ul, .a-notification-window ul, .c-notification-window ul {
    width: 100%;
    height: fit-content;
    padding: .25rem 0;
}

.user-window ul li, .a-notification-window ul li, .c-notification-window ul li {
    width: 100%;
    padding: .2rem 0;
    line-height: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: .8rem;
    font-weight: 300;
    color: var(--info-color);
    transition: all .3s;
}

.user-window ul li:hover, .a-notification-window ul li:hover, .c-notification-window ul li:hover {
    background-color: var(--main-background-color);
}

.user-window ul li svg, .a-notification-window ul li svg, .c-notification-window ul li svg {
    margin: 0 .6rem;
    font-size: 1rem;
    color: var(--info-color);
}

.c-notification-window ul li span, .a-notification-window ul li span {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
}

.c-notification-window ul li span .text-primary, .a-notification-window ul li span .text-primary {
    width: 100%;
    line-height: 1rem;
}




.userInformations:hover, .a-notifications:hover, .c-notifications:hover {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.userInformations svg {
    margin-top: 0.3rem;
    font-size: 0.8rem;
}

.userInformations h6 {
    width: fit-content;
    font-size: 15px;
    padding: 0 10px;
    color: var(--text-color);
}

.userInformations p {
    font-size: 15px;
    padding: 0 10px;
    color: var(--text-color);
    width: 100%;
}

.userInformations #status {
    color: var(--theme-color);
    font-size: 12px;
}

.window-trigger-active {
    background-color: rgba(0, 0, 0, 0.3) !important;
}

.window-open {
    opacity: 1;
    pointer-events: all !important;
}


.closer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}


/* Home Content */

.homeContent {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/vector.jpg");
    background-size: cover;
    width: 95%;
    height: 400px;
    border-radius: 5px;
    box-shadow: 0 1px 13px 0 var(--boxShadowColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeContent h1 {
    direction: ltr;
    font-size: 40px;
    height: 38px;
    font-weight: bold;
    color: var(--theme-color);
    background-color: #fff;
    opacity: 0.9;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end);
}


/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 60%
    }
}




/* Home Content ends */


/* Statistics Content */

.statisticsContent {
    margin: auto;
    width: 95%;
    height: fit-content;

}

.statistics {
    border-radius: 5px;
    box-shadow: 0 1px 13px 0 var(--boxShadowColor);
    padding: 5px;
    background-color: var(--box-background-color);
    display: flex;
    flex-wrap: wrap;

}

.statistics-card {
    width: calc((100% - 40px)/4);
    height: 10rem;
    border-radius: .2rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
}

.statistics-card> :last-child {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 65%;
}

.statistics-card h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

.statistics-card p {
    font-size: 1.25rem;
}

.statistics-card svg {
    font-size: 3rem;
}

.last-update-notice svg {
    font-size: .9rem;
    margin-left: .5rem;
}

.last-update-notice {
    font-size: .8rem;
    max-width: 100%;
    line-height: 1rem;
}

/* Statistics Content ends */

/* categoriesContent starts */




.searchBox {
    display: flex;
    justify-content: flex-start;
    column-gap: 10px;
    align-items: center;
}

.searchBox a svg {
    color: var(--theme-color);
    font-size: 20px;
}



.addCatBox {
    margin: auto;
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* categoriesContent ends */

/* newsContent starts */

.newsContent {
    width: 95%;
}

.newsContentBox {
    width: 100%;
    background-color: var(--box-background-colo);
    border-radius: 5px;
    box-shadow: 0 1px 13px 0 var(--boxShadowColor);
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--text);
}

.newsContentHead {
    width: 100%;
    height: 70px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsContentSearchBox {
    width: 100%;
    height: 70px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsContentTable {
    width: 100%;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.addNewsBox {
    margin: auto;
    width: 95%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}



/* newsContent ends */

/* adContent starts */

.adContent {
    width: 95%;
}

.adContentBox {
    width: 100%;
    background-color: var(--box-background-colo);
    border-radius: 5px;
    box-shadow: 0 1px 13px 0 var(--boxShadowColor);
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 10px;
    color: var(--text);
}

.adContentHead {
    width: 100%;
    height: 70px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adContentSearchBox {
    width: 100%;
    height: 70px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adContentTable {
    width: 100%;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.addAdBox {
    margin: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 10px;
    column-gap: 10px;
}

.addAdBoxInp {
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addAdBoxInp label {
    width: 30%;
}

.addAdBoxInp input {
    width: 70%;
}

.galleryBox {
    margin: auto;
    width: 100%;
    border-bottom: 1px solid var(--theme-color);
    border-top: 1px solid var(--theme-color);
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
}

.galleryImages {
    width: 100%;
    display: flex;
    column-gap: 10px;
}

.galleryImage {
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.galleryImage img {
    width: 150px;
}

/* adContent ends */

/* slideShow starts */

.slideShowContent {
    width: 95%;
}

.slideShowContentBox {
    width: 100%;
    background-color: var(--box-background-colo);
    border-radius: 5px;
    box-shadow: 0 1px 13px 0 var(--boxShadowColor);
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--text);
}

.slideShowContentHead {
    width: 100%;
    height: 70px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slideShowContentSearchBox {
    width: 100%;
    height: 70px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slideShowContentTable {
    width: 100%;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.addslideShowBox {
    margin: auto;
    width: 95%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* slideShow ends */

/* commentsContent starts */

.commentsContent {
    width: 95%;
}

.commentsContentBox {
    width: 100%;
    background-color: var(--box-background-colo);
    border-radius: 5px;
    box-shadow: 0 1px 13px 0 var(--boxShadowColor);
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--text);
}

.commentsContentHead {
    width: 100%;
    height: 70px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentsContentSearchBox {
    width: 100%;
    height: 70px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.commentsContentTable {
    width: 100%;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.showComment {
    margin: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.showComment h3 {
    color: #8d99ae;
    width: 100%;
}

.showCommentCard {
    margin: auto;
    width: 80%;
    border-radius: 15px;
    background-color: #8d99ae;
}

.showCommentCard p {
    color: #000;
    font-size: 15px;
    padding: 20px;
}

.myckeditor {
    width: 100%;
}

.replayBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

/* commentsContent ends */

/* usersContent starts */

.usersContent {
    width: 95%;
}

.usersContentBox {
    width: 100%;
    background-color: var(--box-background-colo);
    border-radius: 5px;
    box-shadow: 0 1px 13px 0 var(--boxShadowColor);
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    color: var(--text);
}

.usersContentHead {
    width: 100%;
    height: 70px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usersContentSearchBox {
    width: 100%;
    height: 70px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.usersContentTable {
    width: 100%;
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.editUserBox {
    margin: auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* userContent ends */


/* route map */


.route-map-group {
    display: flex;
    column-gap: 2px;
    font-size: .9rem;
    color: var(--text-color);
}


/* route map ends */


/* table */


.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9rem;
    min-width: 400px;
}

.styled-table thead tr {
    background-color: var(--theme-color);
    color: var(--text-reverse);
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
}

.styled-table tbody td .operator-btns {
    width: 100%;
    display: flex;
    column-gap: 7px;
}

.styled-table tbody {
    background-color: var(--bodyBackground);
    color: var(--text-color);
}

.styled-table tbody td img {
    width: 80px;
    height: 50px;
}

.styled-table tbody tr, .styled-table thead tr {
    width: 100%;
    border-bottom: 1px solid var(--text-reverse);
    display: flex;
    align-items: center;

}

.styled-table tbody tr td:first-of-type, .styled-table thead tr td:first-of-type {
    width: 2rem;

}

.styled-table tbody tr td:last-of-type, .styled-table thead tr td:last-of-type {
    width: fit-content;
}

.styled-table tbody tr td, .styled-table thead tr td {
    width: 4rem;
}

.styled-table tbody tr td span {
    position: relative;
    display: flex;
    column-gap: .2rem;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
    color: #000;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--theme-color);
}

.func-list-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 10rem;
    background-color: var(--main-background-color);
    border-radius: .4rem;
    box-shadow: 0 1px 13px 0 var(--box-shadow-color);
    z-index: 1500;
}

.func-list-window ul li {
    padding: .8rem 1rem;
}

.func-list-window ul li:hover {
    background-color: var(--box-background-colo);
}

/* table ends */


/* ck styles */

.ck-editor {
    width: 100% !important;
}

.ck-editor__editable {
    background-color: var(--box-background-color) !important;
    height: 150px !important;
}


/* dropdown button */

.dropdown-area {
    position: relative;
}

.dropdown-toggle-btn {
    background-color: #005CE6;
    color: #fff;
    font-size: .9rem;
    transition: all .3s;
}

.toggle-active {
    background-color: #0049b6;
}

.sub-btns {
    position: absolute;
    left: 0;
    width: 10rem;
    margin-top: .3rem;
    background-color: #fff;
    border-radius: 5px;
    z-index: 1000;
}

.dropdown-btn {
    width: 100%;
    border-radius: 0px !important;
    color: #000;
    font-size: .7rem;
    text-align: right !important;
    display: block !important;
}

.dropdown-btn:first-of-type {
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.dropdown-btn:last-of-type {
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.dropdown-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dropdown-btn svg {
    font-size: 1.1rem;
}

.rotate-180 {
    transform: rotate(180deg);
}