html, html[data-theme="light"] {
  --main-background-color: #f8f9fa;
  --box-background-color: #e9ecef;
  --sidebar-menu-background-color: #e9ecef;
  --box-shadow-color: #e9ecef;
  --theme-color: #6247aa;
  --text-color: #000;
  --info-color: #6c757d;
  --text-reverse: #fff;
}

html[data-theme="dark"] {
  --main-background-color: #343a40;
  --box-background-color: #212529;
  --sidebar-menu-background-color: #212529;
  --box-shadow-color: #212529;
  --theme-color: #e0aaff;
  --text-color: #fff;
  --info-color: #6c757d;
  --text-reverse: #000;
}